<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mycompany.iorder" >

    <!-- To access Google+ APIs: -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!--
         The following two permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="mycompany.iorder.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="mycompany.iorder.MAPS_RECEIVE" />

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- To auto-complete the email text field in the activity_login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="models.iOrder"
        android:allowBackup="true"
        android:icon="@drawable/iorder_round"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCFEFjqigg52kxDdzZF_tYap0t57D8JeG8" />

        <activity
            android:name="activities.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.NewAccountActivity"
            android:label="@string/title_activity_new_account"
            android:parentActivityName="activities.LoginActivity" >
        </activity>
        <activity
            android:name="activities.Sign_inActivity"
            android:label="@string/title_activity_sign_in"
            android:parentActivityName="activities.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.LoginActivity" />
        </activity>
        <activity
            android:name="activities.ChooseShopActivity"
            android:label="@string/title_activity_choose_shop" >
        </activity>
        <activity
            android:name="activities.SingleProductActivity"
            android:label="@string/title_activity_single_product" >
        </activity>
        <activity
            android:name="activities.Order_Activity"
            android:label="@string/title_activity_order_" >
        </activity>
        <activity
            android:name="activities.ProductDetails"
            android:label="@string/title_activity_product_details"
            android:parentActivityName="activities.Order_Activity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.Order_Activity" />
        </activity>
        <activity
            android:name="activities.FinalOrder"
            android:label="@string/title_activity_final_order" >
        </activity>
        <activity
            android:name="activities.MapsActivity"
            android:label="@string/title_activity_maps"
            android:configChanges="orientation|screenSize">
        </activity>
        <activity
            android:name="activities.TopUpActivity"
            android:label="@string/title_activity_top_up" >
        </activity>
        <activity
            android:name="activities.AlarmActivity"
            android:label="@string/app_name" >
        </activity>

        <service
            android:name="services.AlarmService"
            android:enabled="true" />

        <receiver android:name="activities.AlarmReceiver" />

        <activity
            android:name="activities.CoffeeBeansActivity"
            android:label="@string/title_activity_coffee_beans" >
        </activity>
        <activity
            android:name="activities.LogOut"
            android:label="@string/title_activity_logout" >
        </activity>
    </application>

</manifest>
